<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Welcome to Club-Biz, <%= @user.email %></h1>
  <p>
    Your society is permited.
  </p>
  <p>Thanks for joining and have a great day!</p>
</body>
</html>