<h1>My Tweets</h1>

<table>
  <tbody>    
    <% @tweets.each do |tweet| %>
    <tr>
      <td><%= tweet.contents %></td>
      <% if user_signed_in? %>
      <td><%= link_to 'Edit', edit_tweet_path(tweet), class: "btn btn-primary" %></td>
      <td><%= link_to 'Delete', tweet, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"%></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
