<h1>Events#my_events</h1>

<% @result.each do |event|%>
<%= link_to event.name, controller: "events", action: "show", id: event.id %>
<%= link_to "Edit", controller: "events", action: "edit", id: event.id%>
<% end %>